@page "/genero"
<h1>Genero</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@nombre</h5>
        <p class="card-text">@abreviatura></p>
       <a href="#" class="btn btn-primary">Actualizar</a> 
    </div>
</div>