
@using ProyectoSoccerManager.App.Dominio;

@page "/genero"
<h1>Genero</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Nombre</h5>
        <p class="card-text">@Abreviatura</p>
        <a href="#" class="btn btn-primary">Actualizar</a>
    </div>
</div>


@code {
     public int Id=1;
    public string Nombre="Masculino";
    public string Abreviatura="M";
     
}